@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .scroll-snap-none {
    scroll-snap-type: none;
  }
  .scroll-snap-x-mandatory {
    scroll-snap-type: x mandatory;
  }
  .scroll-snap-y-mandatory {
    scroll-snap-type: y mandatory;
  }

  .scroll-snap-x-proximity {
      scroll-snap-type: x proximity;
  }
  .scroll-snap-y-proximity {
      scroll-snap-type: y proximity;
  }
  .scroll-snap-align-start {
      scroll-snap-align: start;
  }

  .scroll-behavior-smooth {
    scroll-behavior: smooth;
  }

  .animation-fill-forwards {
    animation-fill-mode: forwards;
  }

  .animation-fill-backwards {
    animation-fill-mode: backwards;
  }

  .animation-fill-both {
    animation-fill-mode: both;
  }

  .animation-fill-none {
    animation-fill-mode: none;
  }

  @variants responsive {
    .scroll-snap-none {
      scroll-snap-type: none;
      }
      .scroll-snap-x-mandatory {
      scroll-snap-type: x mandatory;
      }
      .scroll-snap-y-mandatory {
      scroll-snap-type: y mandatory;
      }
  
      .scroll-snap-x-proximity {
          scroll-snap-type: x proximity;
      }
      .scroll-snap-y-proximity {
          scroll-snap-type: y proximity;
      }
  
      .scroll-snap-align-start {
      scroll-snap-align: start;
      }

      .scroll-behavior-smooth {
        scroll-behavior: smooth;
      }
  }
  }